*,*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-big: 2rem;
}

body {
  display: flex;
  background-color: #f8f8f8;
  min-height: 100vh;
}

img {
  width: 35%;
}

#main-section {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;
}

#header-message {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 20px;
  padding: 50px;
}

#header-message > p:first-child {
  font-size: var(--font-size-medium);
}

#input-section {
  background-color: white;
}